
.output-info__tree
	.tree.tree_output-info
		ul.tree__list
			li.tree__item.tree__item_reg Черниговская область 
				ul.tree__list
					li.tree__item Буковинский р-н.
						.tree__check-box
						ul.tree__list 
							li.tree__item Чернигов м.
								.tree__check-box
								ul.tree__list
									li.tree__item Центральный мр-н.
										.tree__check-box
										ul.tree__list
											li.tree__item Тараса Шевченко вул.
												.tree__check-box
												ul.tree__list
													li.tree__item 1-11, 39-58, 84-200 буд.
														.tree__check-box
													li.tree__item 13 буд.
														.tree__check-box
								li.tree__item Напивчуба-Рубайло вул.
									.tree__check-box
					li.tree__item Нежинский р-н.
						.tree__check-box
						ul.tree__list
							li.tree__item Плавни с.
								.tree__check-box
								ul.tree__list
									li.tree__item Нежинский мр-н.
										.tree__check-box
										ul.tree__list
											li.tree__item Ярослава Мудрого наб.
												.tree__check-box
												ul.tree__list
													li.tree__item 1 буд.
														.tree__check-box
														ul.tree__list
															li.tree__item 1-20, 30-50, 60-70кв.
																.tree__check-box
											li.tree__item Чумацький шлях б-р.
												.tree__check-box
												ul.tree__list
													li.tree__item 1,3,5,7,9,11,13,15,17,19,21 буд.
														.tree__check-box
	.tree
		ul.tree__list
			li.tree__item.tree__item_reg Черниговская область 
				ul.tree__list
					li.tree__item Буковинский р-н.
						.tree__check-box
						ul.tree__list 
							li.tree__item Чернигов м.
								.tree__check-box
								ul.tree__list
									li.tree__item Центральный мр-н.
										.tree__check-box
										ul.tree__list
											li.tree__item Тараса Шевченко вул.
												.tree__check-box
												ul.tree__list
													li.tree__item 1-11, 39-58, 84-200 буд.
														.tree__check-box
													li.tree__item 13 буд.
														.tree__check-box
								li.tree__item Напивчуба-Рубайло вул.
									.tree__check-box
					li.tree__item Нежинский р-н.
						.tree__check-box
						ul.tree__list
							li.tree__item Плавни с.
								.tree__check-box
								ul.tree__list
									li.tree__item Нежинский мр-н.
										.tree__check-box
										ul.tree__list
											li.tree__item Ярослава Мудрого наб.
												.tree__check-box
												ul.tree__list
													li.tree__item 1 буд.
														.tree__check-box
														ul.tree__list
															li.tree__item 1-20, 30-50, 60-70кв.
																.tree__check-box
											li.tree__item Чумацький шлях б-р.
												.tree__check-box
												ul.tree__list
													li.tree__item 1,3,5,7,9,11,13,15,17,19,21 буд.
														.tree__check-box
	.tree
		ul.tree__list
			li.tree__item.tree__item_reg Черниговская область 
				ul.tree__list
					li.tree__item Буковинский р-н.
						.tree__check-box
						ul.tree__list 
							li.tree__item Чернигов м.
								.tree__check-box
								ul.tree__list
									li.tree__item Центральный мр-н.
										.tree__check-box
										ul.tree__list
											li.tree__item Тараса Шевченко вул.
												.tree__check-box
												ul.tree__list
													li.tree__item 1-11, 39-58, 84-200 буд.
														.tree__check-box
													li.tree__item 13 буд.
														.tree__check-box
								li.tree__item Напивчуба-Рубайло вул.
									.tree__check-box
					li.tree__item Нежинский р-н.
						.tree__check-box
						ul.tree__list
							li.tree__item Плавни с.
								.tree__check-box
								ul.tree__list
									li.tree__item Нежинский мр-н.
										.tree__check-box
										ul.tree__list
											li.tree__item Ярослава Мудрого наб.
												.tree__check-box
												ul.tree__list
													li.tree__item 1 буд.
														.tree__check-box
														ul.tree__list
															li.tree__item 1-20, 30-50, 60-70кв.
																.tree__check-box
											li.tree__item Чумацький шлях б-р.
												.tree__check-box
												ul.tree__list
													li.tree__item 1,3,5,7,9,11,13,15,17,19,21 буд.
														.tree__check-box
  

