@import 'setting/reset';
@import 'setting/font';
@import 'setting/colors';
@import 'partial/aside';
@import 'partial/output';

body{
	background-color: #ebeff3;
	font-family: $font-main;	
}

.container {
 	min-width: 1024px;
 	margin: 0 auto;
} 
 
.main {

	&__wrapper {
		min-height: 600px;
		display: flex;
	}


	&__output-info {
		 width: 100%; 
	}
}




 
















