.aside {
  min-height: 100vh;
  background-color: #fafbfa;
  -webkit-transition: width .2s;
  -o-transition: width .2s;
  transition: width .2s; }
  .aside_main {
    width: 40px; }
    .aside_main:hover {
      width: 300px; }
    .aside_main:hover .logo__title {
      display: block; }
    .aside_main:hover .elem__description {
      width: 100%;
      -webkit-box-pack: start;
      -webkit-justify-content: start;
          -ms-flex-pack: start;
              justify-content: start;
      margin-left: 40px; }
    .aside_main:hover .elem__title {
      display: block; }
    .aside_main:hover .elem__text {
      margin-left: 40px;
      display: block; }
    .aside_main:hover .elem__text_short {
      display: none;
      text-align: start; }
    .aside_main:hover .elem__icon {
      margin: 0;
      position: absolute;
      top: 0;
      left: -25px; }
    .aside_main:hover .aside__category {
      padding: 0; }
    .aside_main:hover .elem__item {
      opacity: 1; }
    .aside_main:hover .elem__msg {
      margin-left: 10px;
      min-width: 18px;
      min-height: 18px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      display: inline-block;
      background-color: white;
      text-align: center; }
    .aside_main:hover .elem__msg_out {
      color: #f16072; }
    .aside_main:hover .elem__msg_inp {
      color: #71abf8; }
    .aside_main:hover .elem__marker-text {
      display: block; }

.logo {
  position: relative;
  font: bold 18px "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: white; }
  .logo:before {
    content: '\f03e';
    font-family: FontAwesome;
    width: 20px;
    height: 20px;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #71abf8; }
  .logo__title {
    padding-top: 5px;
    display: none; }
  .logo_aside {
    padding: 5px 0 7px 40px; }

.category {
  /* &__elem {
		padding: 25px 0 25px; 
		border-bottom: 1px solid $color-white;
	}  */ }
  .category_aside {
    padding-top: 20px;
    background-color: #fafbfa; }

.elem {
  position: relative; }
  .elem_category {
    padding: 25px 0 25px;
    border-bottom: 1px solid white; }
  .elem__description {
    position: relative; }
  .elem__icon {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    color: #71abf8; }
  .elem__title {
    display: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #71abf8; }
  .elem__text {
    display: none;
    font: 14px "Roboto", sans-serif; }
    .elem__text_short {
      font: bold 14px "Roboto", sans-serif;
      display: block;
      text-align: center;
      opacity: 0; }
      .elem__text_short.open {
        opacity: 1; }
  .elem__link {
    text-decoration: none;
    color: black; }
  .elem__item {
    padding: 5px 0;
    position: relative;
    cursor: pointer;
    background-color: rgba(113, 171, 248, 0); }
    .elem__item:hover {
      background-color: #408ef6; }
    .elem__item_active {
      background-color: white;
      opacity: 1; }
    .elem__item_active:after {
      content: '';
      display: block;
      width: 5px;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -1px;
      background: #71abf8; }
    .elem__item_mod {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .elem__msg {
    margin: 0 auto;
    width: 8px;
    height: 8px;
    display: inline-block;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .elem__msg_out {
      margin-left: 10px;
      background-color: #f16072; }
    .elem__msg_inp {
      margin-left: 5px;
      background-color: #71abf8; }
  .elem__marker-text {
    display: none; }
