ul, .tree__list, body, p {
  margin: 0;
  padding: 0; }

ul, .tree__list {
  list-style-type: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* -------------------- INFO ----------------- */
.output-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh; }
  .output-info__top {
    padding: 10px 15px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: white; }
  .output-info__tabs {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .output-info__content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    overflow-y: auto;
    margin: 10px 0 0 20px;
    background-color: #ebeff3; }
  .output-info__tree {
    margin-top: 5px;
    padding: 20px 0;
    background-color: white; }

.tabs {
  background-color: white;
  padding-bottom: 10px; }
  .tabs__wrp {
    padding-left: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .tabs__title {
    padding-right: 10px;
    min-width: 100px;
    text-transform: uppercase;
    font: bold 16px "Roboto", sans-serif;
    color: #71abf8; }
  .tabs__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .tabs__item {
    padding: 0 20px;
    position: relative; }
    .tabs__item:not(:last-child):after {
      content: '';
      width: 1px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: inline-block;
      background: black; }
  .tabs__link {
    position: relative;
    text-decoration: none;
    color: black; }
    .tabs__link:hover {
      font-weight: bold; }
    .tabs__link:hover:after {
      left: 0;
      right: 0;
      background-color: #71abf8; }
    .tabs__link:after {
      content: '';
      display: block;
      position: absolute;
      left: 55%;
      right: 55%;
      bottom: -15px;
      height: 4px;
      background: rgba(113, 171, 248, 0);
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s; }

.user__wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.user__icon {
  margin-left: 10px;
  color: #71abf8;
  font-size: 16px;
  cursor: pointer; }

/* -------------------- Form -------------------- */
.tools_output-info {
  margin: 40px 0 0 20px;
  padding: 10px 0px 10px 15px;
  background-color: white; }

.tools__wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.tools__search {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.tools__btn {
  padding: 5px 20px;
  font: bold 14px "Roboto", sans-serif;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 1px solid #71abf8;
  outline: none;
  background: white;
  color: #71abf8;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer; }
  .tools__btn:hover {
    background-color: #71abf8;
    color: white; }
  .tools__btn_mod {
    margin-left: 10px;
    border: 1px solid #71d9c2;
    background-color: #2dd1ac;
    color: white; }
    .tools__btn_mod:hover {
      background-color: white;
      color: #2dd1ac; }

.search {
  display: inline-block;
  position: relative; }
  .search_tools {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .search__input {
    padding: 6px 30px 6px 15px;
    width: 205px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    outline: none;
    background-color: #f7f7f7; }
  .search__icon {
    padding: 0;
    width: 18px;
    heigth: 18px;
    display: block;
    border: none;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    color: #71abf8; }

/* -------------------- Content -------------------- */
.tree_output-info {
  margin-top: 10px;
  /* 	max-height: calc(100vh - 140px);
		overflow-y: auto; */ }

.tree__check-box {
  height: 5px;
  width: 5px;
  position: absolute;
  top: 9px;
  left: -2px;
  border-top: 5px solid black;
  content: "";
  display: block; }

.tree__item {
  margin: 0;
  padding: 0 7px 2px;
  position: relative;
  line-height: 20px;
  color: #616b73;
  font-weight: bold;
  border-left: 1px solid #616b73;
  /* &:after {
		 	position:absolute;
		   	top:9px;
		   	left:-2px;
		   	height:5px;
		   	width:5px;
		   	border-top:5px solid black;
		   	content:"";
		   	display:block;
		} */ }
  .tree__item_reg:before {
    opacity: 0; }
  .tree__item_reg:after {
    opacity: 0; }
  .tree__item:last-child {
    border-left: none; }
    .tree__item:last-child:before {
      border-left: 1px solid #616b73; }
  .tree__item:before {
    position: relative;
    top: -0.3em;
    left: -7px;
    height: 1em;
    width: 12px;
    border-bottom: 1px solid #616b73;
    content: "";
    display: inline-block; }

.tree ul {
  margin-left: 10px; }
